<ion-item class="style-btn">
  <ion-label position="floating">NIT</ion-label>
  <ion-input placeholder="Número NIT de la empresa" type="number" [disabled]="empresa.id !== 0" [(ngModel)]="NIT"></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Nombre</ion-label>
  <ion-input placeholder="Nombre de la empresa" [(ngModel)]="nombre"></ion-input>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select placeholder="Seleccione el pais" [(ngModel)]="pais">
      <ion-select-option
        value="{{ pais.nombre }}"
        *ngFor="let pais of paisList"
        >{{ pais.nombre }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-button color="boton2" (click)="add()" *ngIf="empresa.id === 0">CREAR</ion-button>
<ion-button color="boton2" (click)="edit()" *ngIf="empresa.id !== 0">ACTUALIZAR</ion-button>
