<app-cabezaheader></app-cabezaheader>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="menu-conten" size="3">
        <h3>Logistica</h3>
        <h1>{{ nombre }}</h1>
        <h2>{{ sucursal }}</h2>
        <div class="botones-menu">
          <ion-list lines="none" class="list-botones">
            <ion-button class="button-style1" [routerLink]="['/estados']"
              >ESTADOS</ion-button
            >
          </ion-list>
        </div>
      </ion-col>
      <ion-col class="col-right" size="9">
        <div class="row-content">
          <ion-row class="main">
            <ion-col class="principal">VEHICULOS</ion-col>
            <ion-col class="principal">MERCANCIA</ion-col>
            <ion-col class="principal">VIAJE</ion-col>
            <ion-col class="principal">CONDUCTORES</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="principal2">DISPONIBLE</ion-col>
            <ion-col class="principal2">SIN ASIGNAR</ion-col>
            <ion-col class="principal2">CARGADO</ion-col>
            <ion-col class="principal2">DISPONIBLE</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="principal2">OCUPADO</ion-col>
            <ion-col class="principal2">CARGADO</ion-col>
            <ion-col class="principal2">EN CURSO</ion-col>
            <ion-col class="principal2">NO DISPONBLE</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="principal2"></ion-col>
            <ion-col class="principal2">ENTREGADO</ion-col>
            <ion-col class="principal2">FINALIZADO</ion-col>
            <ion-col class="principal2"></ion-col>
          </ion-row>
          <p>Para saber información mas detallada de los estados por favor visualice nuestro manual de usuario.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
