<ion-header [translucent]="true">
  <ion-navbar class="d-flex flex-row"  id="nav-header">
      <h2 class="text-white">
        LINDS TRACK
      </h2>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          MERCANCIA
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">RECEPCIÓN DE MERCACIA</a></li>
          <li><a class="dropdown-item" href="#">CARGA DE MERCANCIA</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          VEHICULOS
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="">VEHICULOS EN VIAJE</a></li>
          <li><a class="dropdown-item" href="">GESTIÓN DE VEHICULOS</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          ASIGNACIÓN
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">ASIGNACIÓN DE VIAJE</a></li>
          <li><a class="dropdown-item" href="#">VIAJES</a></li>
          <li><a class="dropdown-item" href="#">HISTORIAL DE VIAJES</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          ESTADISTICAS
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Acción</a></li>
          <li><a class="dropdown-item" href="#">Otra acción</a></li>
          <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
        </ul>
      </div>

      <a href="#">CERRAR SESIÓN</a>
    </ion-navbar>
</ion-header>
