<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-navbar>
      <ion-title>
        LINDS
      </ion-title>
      <ul>
        <li><ion-button fill="clear" [routerLink]="['/camion']"><a>VEHICULOS</a></ion-button></li>
        <li><ion-button fill="clear" [routerLink]="['/mercancia']"><a>MERCANCIA</a></ion-button></li>
        <li><ion-button fill="clear" [routerLink]="['/viaje']"><a>VIAJES</a></ion-button></li>
        <li><ion-button fill="clear" [routerLink]="['/estados']"><a>ESTADOS</a></ion-button></li>
      </ul>

      <a (click)="logout()">CERRAR SESIÓN</a>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
