<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar>
    <ion-title>conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fl0oating">From</ion-label>
    <ion-input [(ngModel)]="sourceLocation"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">To</ion-label>
    <ion-input [(ngModel)]="destinationLocation"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="calculateAndDisplayRoute()"
    >Get direction</ion-button
  >
  <ion-button expand="full" *ngIf="validaPosicion==0"
  >Get direction</ion-button
>
  <div id="map"></div>
  <ion-fab vertical="bottom " horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon
        name="compass"
        (click)="showModalIndicators(sourceLocation, destinationLocation)"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
