<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Empresa</ion-title>
    <ion-icon
      name="close"
      slot="end"
      size="larger"
      class="ion-padding"
      (click)="dismiss()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        placeholder="Digite el nombre de la empresa"
        [(ngModel)]="empresa.nombre"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NIT</ion-label>
      <ion-input
        type="number"
        placeholder="Digite el codigo NIT de la empresa"
        [(ngModel)]="empresa.nit"
      ></ion-input>
    </ion-item>

    <ion-button color="success" (click)="modificarEmpresa(empresa.id)">Modificar</ion-button>
  </ion-grid>
</ion-content>
