<app-header-normal></app-header-normal>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="col-left">
        <app-menu></app-menu>
      </ion-col>
      <ion-col size="9" class="col-right">
        <ion-grid [fixed]="true">

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit" [(ngModel)]="nombreFilter" (keyup)="FilterFn()">Buscar</button>
          </form>

          <ion-row class="main">
            <ion-col size="2">Nombre completo</ion-col>
            <ion-col size="3">Correo</ion-col>
            <ion-col size="2">Rol</ion-col>
            <ion-col size="2">Sucursal</ion-col>
            <ion-col size="2">Empresa</ion-col>
            <ion-col size="1">Acciones</ion-col>
          </ion-row>

          <ng-container *ngFor="let dataItem of usuarioList">
            <ion-row *ngIf="dataItem.estado" class="content-user">
              <ion-col size="2">{{ dataItem.nombre }} {{ dataItem.apellido }}</ion-col>
              <ion-col size="3">{{ dataItem.correo }}</ion-col>
              <ion-col size="2">{{ dataItem.rol }}</ion-col>
              <ion-col size="2">{{ dataItem.sucursal }}</ion-col>
              <ion-col size="2">{{ dataItem.empresa }}</ion-col>
              <ion-col size="1" class="ions-style">
                <ion-icon
                  name="pencil-sharp"
                  id="open-modal"
                  (click)="edit(dataItem)"
                ></ion-icon>
                <ion-icon name="trash" (click)="delete(dataItem)"></ion-icon>
              </ion-col>
            </ion-row>
          </ng-container>

          <ion-button id="open-modal" (click)="add()" shape="round"><ion-icon name="add"></ion-icon></ion-button>

          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ modalTitle }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)"><ion-icon name="close-sharp"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-crear-editar-usuario
                  [usuario]="usuario"
                  *ngIf="ActivateCrearEditarUsuarioComp"
                ></app-crear-editar-usuario>
              </ion-content>
            </ng-template>
          </ion-modal>

        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
