@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

ion-col {
  height: 100%;
  text-align: center;
}

.col-left {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col-right {
  height: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

/** ROW STYLE*/

.main {
  color: #4B5399;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.content-user {
  background-color: #BEDEF1;
  color: #224C72;
  font-size: 16px;
  margin-top: 13px;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  padding-top: 16px;
  text-align: center;
}

/** MODAL */
ion-toolbar {
  --background: #AAC1D0;
  font-family: 'Dangrek', cursive;
  color: white;
}

ion-title {
  margin-left: 20px;
  font-size: 32px;
}

ion-content {
  background-color: white;
}

.ions-style {
  display: flex;
  justify-content: space-around;
  padding-top: 6px;
  text-align: center;
}

ion-button {
  color: white;
  font-size: 20px;
  margin-top: 5%;
}
