<app-header-normal></app-header-normal>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-button id="open-modal" (click)="add()">Crear</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ modalTitle }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-crear-editar-usuario
            [usuario]="usuario"
            *ngIf="ActivateCrearEditarUsuarioComp"
          ></app-crear-editar-usuario>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-item>
      <ion-input
        placeholder="Buscar"
        [(ngModel)]="nombreFilter"
        (keyup)="FilterFn()"
      ></ion-input>
    </ion-item>
    <ion-row class="main">
      <ion-col size="1">NOMBRE</ion-col>
      <ion-col size="2">APELLIDO</ion-col>
      <ion-col size="3">CORREO</ion-col>
      <ion-col size="2">ROL</ion-col>
      <ion-col size="2">SUCURSAL</ion-col>
      <ion-col size="2">ACCIONES</ion-col>
    </ion-row>
    <ng-container *ngFor="let dataItem of usuarioList">
      <ion-row *ngIf="dataItem.estado">
        <ion-col size="1">{{ dataItem.nombre }}</ion-col>
        <ion-col size="2">{{ dataItem.apellido }}</ion-col>
        <ion-col size="3">{{ dataItem.correo }}</ion-col>
        <ion-col size="2">{{ dataItem.rol }}</ion-col>
        <ion-col size="2">{{ dataItem.sucursal }}</ion-col>
        <ion-col size="2">
          <ion-icon
            name="create"
            id="open-modal"
            (click)="edit(dataItem)"
          ></ion-icon>
          <ion-icon name="trash" (click)="delete(dataItem)"></ion-icon>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
