<ion-header collapse="fade">
  <ion-toolbar class="new-background-color">
    <ion-navbar>
      <ion-title> LINDS TRACK </ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="col-left">
        <div class="container1">
          <h1>CONTROLA TU FLOTA DE VEHICULOS</h1>
        </div>
        <div class="container2">
          <h1>
            Servicio de seguimiento y control de una flota de <br />
            vehiculos permitiendo mejorar la logistica de estos.
          </h1>
        </div>
        <div class="container3">
          <ion-img src="../../../assets/logistica.png" id="logo"></ion-img>
        </div>
      </ion-col>
      <ion-col size="3" class="col-right">
        <ion-item>
          <ion-label position="floating" id="text-conten">Email</ion-label>
          <ion-input
            type="email"
            placeholder="Digite su Email"
            [(ngModel)]="correo"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" shape="round">Contraseña</ion-label>
          <ion-input
            type="password"
            placeholder="Digite su Contraseña"
            [(ngModel)]="password"
          >
          </ion-input>
        </ion-item>
        <ion-button
          class="button-background-color"
          id="text-conten"
          shape="round"
          >Entrar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="new-background-color">
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>
