<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
      <ion-navbar>
        <ion-title>
          LINDS TRACK
        </ion-title>
      </ion-navbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="izquierda">
      <div class="titulo1">
        <strong class="text-title">RASTREA TUS FLOTAS DE VEHICULOS</strong>
      </div>
      <p id="text-conten">Servicio de rastreo y visualización de una flota de <br> vehiculos permitiendo mejorar la
        logistica de estos.</p>
      <ion-img src="../../../assets/logistica.png" id="logo"></ion-img>
    </div>

    <div id="derecha">
      <div class="titulo1">
        <strong class="text-title-1">Iniciar sesión</strong>
      </div>
      <ion-item>
        <ion-label position="floating" id="text-conten">Email</ion-label>
        <ion-input type="email" placeholder="Digite su Email" [(ngModel)]="correo">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" shape="round">Contraseña</ion-label>
        <ion-input type="password" placeholder="Digite su Contraseña" [(ngModel)]="password">
        </ion-input>
      </ion-item>
      <div class="contenedor-botones">
        <ion-button class="button-background-color" (click)="login()" id="text-conten" shape="round">Entrar</ion-button>
      </div>
      <div class="aaa">
        <a href="#" id="text-conten">¿Olvido la contraseña?</a>
      </div>

    </div>
  </div>
  <app-piefooter></app-piefooter>

</ion-content>
