.inicio-img {
  width: 80%;
  max-width: 800px;
}

.inicio {
  text-align: center;
  color: var(--texto-color-principal)
}

.inicio-titulo {
  font-weight: bold;
  margin: 0;
}

.inicio-body {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 400px;
  margin: 20px auto;
}

.inicio-info {
  margin-bottom: 25px;
}

@media (min-width: 810px) {
  .inicio-img {
    width: 100%;
    max-width: 650px;
  }

  .inicio {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .inicio-titulo {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
  }

  .inicio-subtitulo {
    font-weight: normal;
    font-size: 60px;
    margin: 0;
  }

  .inicio-body {
    font-size: 16px;
    margin: 30px 0;
  }

  .inicio-info {
    margin-bottom: 0px;
  }
}
