:root {
    --theme-color: #9BBCEE;
    --primary-color: white;
    --secundary-color: #E65051;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #9BBCEE;
    --color-background: #6787B6;
    --texto-color-principal: white;
    --color-background-info: white;
  }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-background);
    color: var(--text-color);
    padding:100px 0;

  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
/*
  .horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
  }

  .vertical-padding{
    padding-left: 25px;
    padding-right: 25px;
  }
*/
  @media (min-width: 810px){
/*
    .horizontal-padding{
      padding-left: 70px;
      padding-bottom: 70px;
    }
   */
  }
