@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

ion-toolbar{
  color: white;
}

.new-background-color{
  --background: #85C1EC;
  font-family: 'Dangrek', cursive;
}

ion-title {
  font-size: 25px;
}


ion-col {
    border: solid 1px #000000;
    text-align: center;
}

.main {
    font-weight: bold;
}

ion-icon {
    font-size: 35px;
    cursor: pointer;
  }
