<app-cabezaheader></app-cabezaheader>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="menu-conten" size="3">
        <h3>Logistica</h3>
        <h1>{{nombre}}</h1>
        <h2>{{sucursal}}</h2>
        <div class="botones-menu">
          <ion-button class="button-style1" [routerLink]="['/camion']">Vehículos</ion-button>
        </div>
      </ion-col>
      <ion-col class="col-right" size="9">
        <div class="row-content">
          <ion-input class="ion-text-start" fill="outline" placeholder="Buscar..." [(ngModel)]="modeloFilter"
          (keyup)="FilterFn()"></ion-input>
          <ion-row class="main">
            <ion-col>MATRICULA</ion-col>
            <ion-col>MODELO</ion-col>
            <ion-col>TIPO</ion-col>
            <ion-col>COLOR</ion-col>
            <ion-col>CAPACIDAD</ion-col>
            <ion-col>ESTADO</ion-col>
            <ion-col>ACCIONES</ion-col>
          </ion-row>

          <ion-row *ngFor="let dataItem of camionList" class="content-vehicle">
            <ion-col>{{ dataItem.matricula }}</ion-col>
            <ion-col>{{ dataItem.modelo }}</ion-col>
            <ion-col>{{ dataItem.tipo }}</ion-col>
            <ion-col>{{ dataItem.color }}</ion-col>
            <ion-col>{{ dataItem.capacidad }} kg</ion-col>
            <ion-col *ngIf="dataItem.estado == true">Disponible</ion-col>
            <ion-col *ngIf="dataItem.estado == false">Ocupado</ion-col>
            <ion-col class="icons-button">
              <ion-icon name="pencil-sharp" id="open-modal" (click)="edit(dataItem)"></ion-icon>
              <ion-icon name="trash" (click)="delete(dataItem)"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-button class="button-add" id="open-modal" (click)="add()"><ion-icon name="add-outline"></ion-icon></ion-button>

          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ modalTitle }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-crear-editar-camion [camion]="camion"
                  *ngIf="Activate_CrearEditar_CamionComp"></app-crear-editar-camion>
              </ion-content>
            </ng-template>
          </ion-modal>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
