<app-cabezaheader></app-cabezaheader>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="menu-conten" size="3">
        <h3>Logistica</h3>
        <h1>NOMBRE DEL PERFIL</h1>
        <div class="botones-menu">
          <ion-button class="button-style" fill="clear" [routerLink]="['/viaje']">VIAJES</ion-button>
          <ion-button class="button-style" fill="clear" [routerLink]="['/punto-entrega']">PUNTOS DE ENTREGA</ion-button>
          <ion-button class="button-style1" [routerLink]="['/ver-historial']">HISTORIAL DE VIAJE</ion-button>
        </div>
      </ion-col>
      <ion-col class="col-right" size="9">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <ion-button class="btn btn-outline-light" [disabled]="true" fill="clear" type="submit" [(ngModel)]="nombreFilter" (keyup)="FilterFn()"><ion-icon name="search"></ion-icon></ion-button>
        </form>
        <ng-container >
          <ion-card class="card-style">
            <ion-card-header>
              <ion-card-title>Fecha y hora del viaje </ion-card-title>
              <ion-card-subtitle>Placa del vehículo </ion-card-subtitle>
              <ion-card-subtitle>Punto de partida </ion-card-subtitle>
              <ion-card-subtitle>Puntos de entrega </ion-card-subtitle>
              <ion-card-subtitle>Punto final </ion-card-subtitle>
              <ion-card-content>
                <ion-button [disabled]="true">VER ENTREGA </ion-button>
                <ion-button [disabled]="true">VER RECORRIDO</ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
