<ion-item class="style-btn">
  <ion-label position="floating">Direccion o lugar de entrega</ion-label>
  <ion-input
    placeholder="Escriba la direccion del punto de entrega"
    [(ngModel)]="direccion"
  ></ion-input>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select placeholder="Seleccione el viaje" [(ngModel)]="viaje">
      <ion-select-option
        value="{{ viaje.id }}"
        *ngFor="let viaje of viajeList"
        >{{ viaje.id }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-button (click)="add()" *ngIf="puntoEntrega.id == 0">CREAR</ion-button>
<ion-button (click)="edit()" *ngIf="puntoEntrega.id != 0">ACTUALIZAR</ion-button>
