<ion-header>
  <ion-toolbar>
    <ion-title>Verifica tu Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <h2>¡Gracias por registrarte!</h2>
      <p>Nosotros te enviaremos un email de confirmación</p>
      <p>Por favor revisa tu email y haz click en el link para verificar
        tu dirección de email</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" (click)="onSendEmail()">Reenviar email</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
