<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800; font-size: 3em">
        Hoy
        <p>{{today | date:'fullDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-select placeholder="seleccione el conductor" [(ngModel)]="viaje">
      <ion-select-option *ngFor="let item of result; index as i" [value]="item">
        {{result2[i]}}
      </ion-select-option>
    </ion-select>
    <ion-button color="success" (click)="buscarViaje(viaje)">Buscar</ion-button>
  </ion-card>
  <div id=container>
    <div id="map"></div>
  </div>
</ion-content>
