<ion-item class="style-btn">
  <ion-label position="floating">Cedula</ion-label>
  <ion-input
    placeholder="Escriba la cedula"
    [(ngModel)]="cedula"
    type="number"
  ></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Nombres</ion-label>
  <ion-input placeholder="Escriba el nombre" [(ngModel)]="nombre"></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Apellidos</ion-label>
  <ion-input
    placeholder="Escriba el apellido"
    [(ngModel)]="apellido"
  ></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Correo</ion-label>
  <ion-input
    placeholder="Escriba el correo electronico"
    type="email"
    [(ngModel)]="correo"
  ></ion-input>
</ion-item>

<ion-item *ngIf="usuario.id == 0" class="style-btn">
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input
    placeholder="Escriba la contraseña"
    type="password"
    [(ngModel)]="password"
  ></ion-input>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select placeholder="Seleccione el rol" [(ngModel)]="rol">
      <ion-select-option value="{{ rol.nombre }}" *ngFor="let rol of rolList">{{
        rol.nombre
      }}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select
      placeholder="Seleccione la empresa"
      [(ngModel)]="empresa"
      (ionChange)="cargarSucursal()"
    >
      <ion-select-option
        value="{{ empresa.nombre }}"
        *ngFor="let empresa of empresaList"
        >{{ empresa.nombre }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select placeholder="Seleccione la sucursal" [(ngModel)]="sucursal">
      <ion-select-option
        value="{{ sucursal.nombre }}"
        *ngFor="let sucursal of sucursalList"
        >{{ sucursal.nombre }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-list *ngIf="usuario.id != 0">
  <ion-item>
    <ion-select placeholder="Seleccione el estado" [(ngModel)]=estado>
      <ion-select-option value=true>Activo</ion-select-option>
      <ion-select-option value=false>Inactivo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-button color="boton2" (click)="add()" *ngIf="usuario.id == 0">CREAR</ion-button>
<ion-button color="boton2" (click)="editar()" *ngIf="usuario.id != 0">ACTUALIZAR</ion-button>
