<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input
    placeholder="Escriba el nombre"
    [(ngModel)]="nombre"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Peso</ion-label>
  <ion-input
    placeholder="Escriba el peso en Kg"
    [(ngModel)]="peso"
    type="number"
  ></ion-input>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select
      placeholder="Seleccione el punto de entrega"
      [(ngModel)]="puntoEntrega"
      (ionChange)="cargarPuntoEntrega()"
    >
      <ion-select-option
        value="{{ punto.direccion }}"
        *ngFor="let punto of puntoEntregaList"
        >{{punto.viaje}} - {{ punto.direccion }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-button (click)="add()" *ngIf="mercancia.id == 0">Añadir</ion-button>
<ion-button (click)="edit()" *ngIf="mercancia.id != 0">Editar</ion-button>