<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      [disabled]="estado"
      id="menu"
    >
      <ion-content>
        <ion-list id="inbox-list">
          
          <div [class]="claseAdmin">
            <ion-list-header>Bienvenido</ion-list-header>
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let p of getArray()"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
<!--


          <div [class]="claseConductor">
            <ion-list-header>Bienvenido</ion-list-header>
            <ion-menu-toggle
              auto-hide="false"
              *ngFor="let p of appPagesConductor; let i = index"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
-->
        </ion-list>
      </ion-content>
      <ion-button color="danger" (click)="logout()" id="btnLogin"
        >Salir</ion-button
      >
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
