#icono {
    padding: 5px;
  }
  
  #label {
      cursor: pointer;
  }
  
  #titulo {
      font-weight: bold;
      text-transform: uppercase;
  }
  
  div {
    text-align: center;
  }
  ion-col {
    border: solid 1px grey;
  }
  
  ion-icon {
    font-size: 35px;
    cursor: pointer;
  }