@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

ion-col {
  height: 100%;
  text-align: center;
}

.col-left {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.col-right {
  height: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

/** CARD STYLE*/

ion-card {
  background-color: #C8E2F6;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 50px;
}

ion-card-title {
  color: #003B71;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
}

ion-card-subtitle {
 color: #224C72;
 font-size: 16px;
}

ion-card-content {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/** FILTER STYLE*/

/** BUTTON STYLE*/
card-style-add{
  background-color: #DAE4EA;
}

.button-style {
  font-size: 50%;
  width: 30%;
  height: 100%;
  margin-top: 30px;
  align-items: center;
}

/** MODAL */
ion-toolbar {
  --background: #AAC1D0;
  font-family: 'Dangrek', cursive;
  color: white;
}

ion-title {
  margin-left: 20px;
  font-size: 32px;
}

ion-content {
  background-color: white;
}




