<ion-item class="style-btn">
  <ion-label position="floating">Matricula</ion-label>
  <ion-input
    placeholder="Escriba la matricula"
    [(ngModel)]="matricula"
  ></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Modelo</ion-label>
  <ion-input placeholder="Escriba el modelo" [(ngModel)]="modelo"></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Tipo</ion-label>
  <ion-input placeholder="Escriba el tipo" [(ngModel)]="tipo"></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Color</ion-label>
  <ion-input placeholder="Escriba el color" [(ngModel)]="color"></ion-input>
</ion-item>

<ion-item class="style-btn">
  <ion-label position="floating">Capacidad</ion-label>
  <ion-input
    placeholder="Escriba la capacidad en Kg"
    [(ngModel)]="capacidad"
    type="number"
  ></ion-input>
</ion-item>

<ion-list>
  <ion-item>
    <ion-select
      placeholder="Seleccione la empresa"
      [(ngModel)]="empresa"
      (ionChange)="cargarSucursal()"
    >
      <ion-select-option
        value="{{ empresa.nombre }}"
        *ngFor="let empresa of empresaList"
        >{{ empresa.nombre }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-select placeholder="Seleccione la sucursal" [(ngModel)]="sucursal">
      <ion-select-option
        value="{{ sucursal.nombre }}"
        *ngFor="let sucursal of sucursalList"
        >{{ sucursal.nombre }}</ion-select-option
      >
    </ion-select>
  </ion-item>
</ion-list>

<ion-button (click)="add()" *ngIf="camion.id == 0">AGREGAR</ion-button>
<ion-button (click)="edit()" *ngIf="camion.id != 0">ACTUALIZAR</ion-button>
