<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Usuario</ion-title>
    <ion-icon
      name="close"
      slot="end"
      size="larger"
      class="ion-padding"
      (click)="dismiss()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

  <h5>Para cambio de comtraseña por favor digite su email registrado y que se pueda generar de manera exitosa</h5>
<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input
      type="email"
      placeholder="Digite su email"
      [(ngModel)]="email"
      required
    >
    </ion-input>
  </ion-item>

  <ion-button color="success" (click)="reestablecer(email)">Enviar</ion-button>
  <ion-button color="warning" href="/perfil">Volver</ion-button>
</ion-content>
