<app-cabezaheader></app-cabezaheader>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="menu-conten" size="3">
        <h3>Logistica</h3>
        <h1>{{nombre}}</h1>
        <h2>{{sucursal}}</h2>
        <div class="botones-menu">
          <ion-button class="button-style1" [routerLink]="['/mercancia']">RECEPCIÓN MERCANCIA</ion-button>
        </div>
      </ion-col>
      <ion-col class="col-right" size="9">
        <div class="row-content">
          <ion-input class="ion-text-start" fill="outline" placeholder="Buscar..." [(ngModel)]="nombreFilter"
            (keyup)="FilterFn()"></ion-input>

          <ion-row class="main">
            <ng-container *ngFor="let dataItem of mercanciaList | paginate: { itemsPerPage: 4, currentPage: p }">
              <ion-card class="card-style">
                <ion-card-header>
                  <ion-card-subtitle>#{{dataItem.id}}</ion-card-subtitle>
                  <ion-card-title>{{dataItem.nombre}}</ion-card-title>
                  <ion-card-subtitle>{{dataItem.estado}}</ion-card-subtitle>

                </ion-card-header>
                <ion-card-content>
                  <ion-item lines="none">
                    <ion-label>Entrega: {{dataItem.puntoEntrega}}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Remitente: {{dataItem.remitente}}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Email: {{dataItem.correoRemitente}}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Destinatario: {{dataItem.destinatario}}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Email: {{dataItem.correoDestinatario}}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Viaje: {{dataItem.viaje}}</ion-label>
                  </ion-item>
                </ion-card-content>
                <ion-col class="icons-button">
                  <ion-icon src="../../../../assets/map.svg" (click)="map(dataItem)"></ion-icon>
                  <ion-icon src="../../../../assets/pencil-sharp.svg" id="open-modal" (click)="edit(dataItem)"
                  *ngIf="dataItem.estado=='Sin Asignar'"></ion-icon>
                  <ion-icon src="../../../../assets/trash.svg" (click)="delete(dataItem)" *ngIf="dataItem.estado=='Sin Asignar'"></ion-icon>
                </ion-col>
              </ion-card>
            </ng-container>
          </ion-row>

          <ion-button class="button-add" id="open-modal" (click)="add()"><ion-icon src="../../../../assets/add-outline.svg"></ion-icon></ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ modalTitle }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancel()"><ion-icon src="../../../../assets/close-sharp.svg"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-crear-editar-mercancia [mercancia]="mercancia"
                  *ngIf="Activate_CrearEditar_MercanciaComp"></app-crear-editar-mercancia>
              </ion-content>
            </ng-template>
          </ion-modal>

          <ion-modal [isOpen]="isModalOpen1">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Punto de Entrega</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="cancelMapa()"><ion-icon name="close-sharp"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <app-mapa-mercancia [punto]="punto" *ngIf="Activate_Mapa_MercanciaComp">
                </app-mapa-mercancia>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>