.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contenedor-botones {
    display: flex;
    flex-direction: column;
}

ion-content::part(scroll) {
    padding-bottom: 56px;
  }

#logo {
    width: 180px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
}

#card {
    width: 400px;
    height: 480px;
}

#boton {
    opacity: 0;
}

.label {
    cursor: pointer;
}