<ion-footer>
  <ion-toolbar class="footer-background-color">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <h1>Ayuda</h1>
          <a href="https://docs.google.com/document/d/1-doP2MWpUlqATl6upDpzRaJSINe-sLH4/edit?usp=sharing&ouid=109232288387367918284&rtpof=true&sd=true"
            target="_blank">¿Cómo funciona?</a>
        </ion-col>
        <ion-col>
          <h1>Contactanos</h1>
          <a target="_blank"><ion-icon src="../../../assets/mail-outline.svg"></ion-icon></a>
          <a href="https://www.facebook.com/LindsOficial" target="_blank"><ion-icon src="../../../assets/logo-facebook.svg"></ion-icon></a>
          <a href="https://www.instagram.com/linds_oficial/" target="_blank"><ion-icon src="../../../assets/logo-instagram.svg"></ion-icon></a>
        </ion-col>
        <ion-col>
          <ul>
            <li>Terminos y condiciones</li>
            <li>Politica de privacidad</li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
