@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

ion-footer{
  background-color: darkcyan;
  
}

ion-toolbar{
  color: white;
}

.new-background-color{
  --background: #85C1EC;
  font-family: 'Dangrek', cursive;
}

ion-title {
  font-size: 25px;
}


.text-title {
  font-family: 'Dangrek', cursive;
  color: #413E3E;
  font-size: 32px;
  margin-top: 10px;
}

.text-title-1 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #413E3E;
  font-size: 32px;
  margin-top: 50%;
}

#text-conten{
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  color: #413E3E;
  font-size: 20px;
}

#logo{
  width: 28%;
  margin-left: 35%;
}

.titulo1 {
  margin-top: 25px;
}

.button-background-color{
  --background: #ffffff;
  size: 40px;
  margin-top: 30px;
}

.aaa {
  margin-top: 30px;
  margin: 11.6%;
}

.footer-background-color{
  --background: #85C1EC;
  size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

ion-col a{
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin-left: 10%;
}

ul{
  list-style-type: none;
}

h1 {
  margin-top: 1px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 12%;
}
