<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Sucursal</ion-title>
    <ion-icon
      name="close"
      slot="end"
      size="larger"
      class="ion-padding"
      (click)="dismiss()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        placeholder="Digite el nombre de la sucursal"
        [(ngModel)]="sucursal.nombre"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input
        type="text"
        placeholder="Digite el nombre de la cuidad"
        [(ngModel)]="sucursal.ciudad"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input
        type="text"
        placeholder="Digite la direccion de la sucursal"
        [(ngModel)]="sucursal.direccion"
      ></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-select
          [(ngModel)]="sucursal.empresa"
          placeholder="Seleccione una empresa"
        >
          <ion-select-option
            *ngFor="let empresa of empresas"
            [value]="empresa.nombre"
            >{{empresa.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button color="success" (click)="modificarSucursal(sucursal.id)">Modificar</ion-button>
  </ion-grid>
</ion-content>
