<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Viaje </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-button id="open-modal" (click)="add()">Crear</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ modalTitle }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="cancel()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-crear-editar-viaje
            [viaje]="viaje"
            *ngIf="Activate_CrearEditar_ViajeComp"
          ></app-crear-editar-viaje>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isModalOpen1">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen1(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
            reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
            dicta.
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-row class="main">
      <ion-col>ID</ion-col>
      <ion-col>INICIO</ion-col>
      <ion-col>FECHA</ion-col>
      <ion-col>CAMION</ion-col>
      <ion-col>CONDUCTOR</ion-col>
      <ion-col>ACCIONES</ion-col>
    </ion-row>
    <ion-row *ngFor="let dataItem of viajeList">
      <ion-col>{{ dataItem.id }}</ion-col>
      <ion-col>{{ dataItem.inicio }}</ion-col>
      <ion-col>{{ dataItem.fecha }}</ion-col>
      <ion-col>{{ dataItem.camion }}</ion-col>
      <ion-col>{{ dataItem.usuario }}</ion-col>
      <ion-col>
        <ion-icon name="map-outline" (click)="setOpen1(true)"></ion-icon>
        <ion-icon
          name="create"
          id="open-modal"
          (click)="edit(dataItem)"
        ></ion-icon>
        <ion-icon name="trash" (click)="delete(dataItem)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>